# Function Practice Exercises

Problems are arranged in increasing difficulty:
* Warmup - these can be solved using basic comparisons and methods
* Level 1 - these may involve if/then conditional statements and simple methods
* Level 2 - these may require iterating over sequences, usually with some kind of loop
* Challenging - these will take some creativity to solve

## WARMUP SECTION:

#### LESSER OF TWO EVENS: Write a function that returns the lesser of two given numbers *if* both numbers are even, but returns the greater if one or both numbers are odd
    lesser_of_two_evens(2,4) --> 2
    lesser_of_two_evens(2,5) --> 5

In [322]:
def lesser_of_two_evens(a,b):
    if a % 2 == 0 and b % 2 == 0:
        return min(a, b)
    else:
        return max(a, b)

In [323]:
# Check
lesser_of_two_evens(2,4)

2

In [324]:
# Check
lesser_of_two_evens(2,5)

5

#### ANIMAL CRACKERS: Write a function takes a two-word string and returns True if both words begin with same letter
    animal_crackers('Levelheaded Llama') --> True
    animal_crackers('Crazy Kangaroo') --> False

In [325]:
def animal_crackers(text):
    a=text[0]
    n=0
    while True:
        n+=1
        if text[n] ==' ':
            break
    if text[n]==a:
        return True
    else:
        return False

In [326]:
# Check
animal_crackers('Levelheaded Llama')

False

In [327]:
# Check
animal_crackers('Crazy Kangaroo')

False

#### MAKES TWENTY: Given two integers, return True if the sum of the integers is 20 *or* if one of the integers is 20. If not, return False

    makes_twenty(20,10) --> True
    makes_twenty(12,8) --> True
    makes_twenty(2,3) --> False

In [328]:
def makes_twenty(n1,n2):
    return n1 == 20 or n2 == 20 or (n1 + n2) == 20

In [329]:
# Check
makes_twenty(20,10)

True

In [330]:
# Check
makes_twenty(2,3)

False

# LEVEL 1 PROBLEMS

#### OLD MACDONALD: Write a function that capitalizes the first and fourth letters of a name
     
    old_macdonald('macdonald') --> MacDonald
    
Note: `'macdonald'.capitalize()` returns `'Macdonald'`

In [331]:
def old_macdonald(name):
    return name[:3].capitalize()+name[3:].capitalize()

In [332]:
# Check
old_macdonald('macdonald')

'MacDonald'

#### MASTER YODA: Given a sentence, return a sentence with the words reversed

    master_yoda('I am home') --> 'home am I'
    master_yoda('We are ready') --> 'ready are We'
    
Note: The .join() method may be useful here. The .join() method allows you to join together strings in a list with some connector string. For example, some uses of the .join() method:

    >>> "--".join(['a','b','c'])
    >>> 'a--b--c'

This means if you had a list of words you wanted to turn back into a sentence, you could just join them with a single space string:

    >>> " ".join(['Hello','world'])
    >>> "Hello world"

In [333]:
def master_yoda(text):
    # .split() turns "I am home" into ["I", "am", "home"]
    words = text.split()
    
    # [::-1] is a "slice" that reverses the list
    reversed_words = words[::-1]
    
    # " ".join() puts them back into a string with spaces
    return " ".join(reversed_words)

In [334]:
# Check
master_yoda('I am home')

'home am I'

In [335]:
# Check
master_yoda('We are ready')

'ready are We'

#### ALMOST THERE: Given an integer n, return True if n is within 10 of either 100 or 200

    almost_there(90) --> True
    almost_there(104) --> True
    almost_there(150) --> False
    almost_there(209) --> True
    
NOTE: `abs(num)` returns the absolute value of a number

In [336]:
def almost_there(n):
    if abs(100-n)<=10:
        return True
    elif abs(200-n)<10:
        return True
    else:
        return False

In [337]:
# Check
almost_there(104)

True

In [338]:
# Check
almost_there(150)

False

In [339]:
# Check
almost_there(209)

True

# LEVEL 2 PROBLEMS

#### FIND 33:

Given a list of ints, return True if the array contains a 3 next to a 3 somewhere.

    has_33([1, 3, 3]) → True
    has_33([1, 3, 1, 3]) → False
    has_33([3, 1, 3]) → False

In [340]:
def has_33(nums):
    i=0
    while i<len(nums):
        if nums[i]==3 and i!=len(nums)-1:
            if nums[i+1]==3:
                return True
        i+=1
            
    return False

In [341]:
# Check
has_33([1, 3, 3])

True

In [342]:
# Check
has_33([1, 3, 1, 3])

False

In [343]:
# Check
has_33([3, 1, 3])

False

#### PAPER DOLL: Given a string, return a string where for every character in the original there are three characters
    paper_doll('Hello') --> 'HHHeeellllllooo'
    paper_doll('Mississippi') --> 'MMMiiissssssiiippppppiii'

In [344]:
def paper_doll(text):
    text1=''
    for i in text:
        text1=text1+i*3
    return text1

In [345]:
# Check
paper_doll('Hello')

'HHHeeellllllooo'

In [346]:
# Check
paper_doll('Mississippi')

'MMMiiissssssiiissssssiiippppppiii'

#### BLACKJACK: Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. If their sum exceeds 21 *and* there's an eleven, reduce the total sum by 10. Finally, if the sum (even after adjustment) exceeds 21, return 'BUST'
    blackjack(5,6,7) --> 18
    blackjack(9,9,9) --> 'BUST'
    blackjack(9,9,11) --> 19

In [347]:
def blackjack(a,b,c):
    if a+b+c>21:
        return 'BUST'
    else:
        return a+b+c

In [348]:
# Check
blackjack(5,6,7)

18

In [349]:
# Check
blackjack(9,9,9)

'BUST'

In [350]:
# Check
blackjack(9,9,11)

'BUST'

#### SUMMER OF '69: Return the sum of the numbers in the array, except ignore sections of numbers starting with a 6 and extending to the next 9 (every 6 will be followed by at least one 9). Return 0 for no numbers.

    summer_69([1, 3, 5]) --> 9
    summer_69([4, 5, 6, 7, 8, 9]) --> 9
    summer_69([2, 1, 6, 9, 11]) --> 14

In [351]:
def summer_69(arr):
    a=0
    bool=True
    for i in arr:
        if i==6:
            bool=False
            continue
        if i==9:
            bool=True
            continue
        if bool==True:
            a+=i
    return a

In [352]:
# Check
summer_69([1, 3, 5])

9

In [353]:
# Check
summer_69([4, 5, 6, 7, 8, 9])

9

In [354]:
# Check
summer_69([2, 1, 6, 9, 11])

14

# CHALLENGING PROBLEMS

#### SPY GAME: Write a function that takes in a list of integers and returns True if it contains 007 in order

     spy_game([1,2,4,0,0,7,5]) --> True
     spy_game([1,0,2,4,0,5,7]) --> True
     spy_game([1,7,2,0,4,5,0]) --> False

In [355]:
def spy_game(nums):
    i=0
    b1=False
    b2=False
    b3=False
    while i<len(nums):
        if nums[i]==0:
            b1=True
            i+=1
            break
        i+=1
    if b1==False:
        return False
    while i<len(nums):
        if nums[i]==0:
            b2=True
            i+=1
            break
        i+=1
    while i<len(nums):
        if nums[i]==7:
            b3=True
            break
        i+=1
    return (b1 and b2 and b3)

In [356]:
# Check
spy_game([1,2,4,0,0,7,5])

True

In [357]:
# Check
spy_game([1,0,2,4,0,5,7])

True

In [ ]:
# Check
spy_game([1,7,2,0,4,5,0])

False

#### COUNT PRIMES: Write a function that returns the *number* of prime numbers that exist up to and including a given number
    count_primes(100) --> 25

By convention, 0 and 1 are not prime.

In [ ]:
def count_primes(num):
    primes=[2]
    if num<2:
        return 0
    i=3
    
    while i<=num:
        divisible=False
        for j in primes:
            if i%j==0:
                divisible=True
        if divisible==False:
            primes.append(i) 
        i+=1
    return len(primes)

In [ ]:
# Check
count_primes(100)

25

### Just for fun:
#### PRINT BIG: Write a function that takes in a single letter, and returns a 5x5 representation of that letter
    print_big('a')
    
    out:   *  
          * *
         *****
         *   *
         *   *
HINT: Consider making a dictionary of possible patterns, and mapping the alphabet to specific 5-line combinations of patterns. <br>For purposes of this exercise, it's ok if your dictionary stops at "E".

In [ ]:
def print_big(letter):

In [ ]:
print_big('a')

## Great Job!