In [4]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
plt.style.use('ggplot')
#pd.set_option('max_columns', 200)

In [5]:
df=pd.read_csv('netflix.csv')

# Data Preperation
- Dropping irrelevant columns and rows
- Identifying duplicated columns
- Renaming Columns
- Feature Creation

In [6]:
df.head()

,id,title,type,description,release_year,age_certification,runtime,genres,production_countries,seasons,imdb_id,imdb_score,imdb_votes,tmdb_popularity,tmdb_score
0,ts300399,Five Came Back: The Reference Films,SHOW,This collection includes 12 World War II-era p...,1945,TV-MA,51,['documentation'],['US'],1.0,NaN,NaN,NaN,0.600,NaN
1,tm84618,Taxi Driver,MOVIE,A mentally unstable Vietnam War veteran works ...,1976,R,114,"['drama', 'crime']",['US'],NaN,tt0075314,8.2,808582.0,40.965,8.179
2,tm154986,Deliverance,MOVIE,Intent on seeing the Cahulawassee River before...,1972,R,109,"['drama', 'action', 'thriller', 'european']",['US'],NaN,tt0068473,7.7,107673.0,10.010,7.300
3,tm127384,Monty Python and the Holy Grail,MOVIE,"King Arthur, accompanied by his squire, recrui...",1975,PG,91,"['fantasy', 'action', 'comedy']",['GB'],NaN,tt0071853,8.2,534486.0,15.461,7.811
4,tm120801,The Dirty Dozen,MOVIE,12 American military prisoners in World War II...,1967,NaN,150,"['war', 'action']","['GB', 'US']",NaN,tt0061578,7.7,72662.0,20.398,7.600

In [7]:
df.dtypes

id                       object
title                    object
type                     object
description              object
release_year              int64
age_certification        object
runtime                   int64
genres                   object
production_countries     object
seasons                 float64
imdb_id                  object
imdb_score              float64
imdb_votes              float64
tmdb_popularity         float64
tmdb_score              float64
dtype: object

In [8]:
df['release_year']=pd.to_numeric(df['release_year'])
df['seasons']=pd.to_numeric(df['seasons'])
#Removed all those which didn't have a release year
df = df.dropna(subset=['release_year', 'type'])
df = df[df['release_year'] > 1900]

In [9]:
df.isna().sum()

id                         0
title                      1
type                       0
description               18
release_year               0
age_certification       2619
runtime                    0
genres                     0
production_countries       0
seasons                 3744
imdb_id                  403
imdb_score               482
imdb_votes               498
tmdb_popularity           91
tmdb_score               311
dtype: int64

In [10]:
df.loc[df.duplicated()]
#none are duplicated

Empty DataFrame
Columns: [id, title, type, description, release_year, age_certification, runtime, genres, production_countries, seasons, imdb_id, imdb_score, imdb_votes, tmdb_popularity, tmdb_score]
Index: []

In [11]:
df.duplicated(subset=['title']).sum()

np.int64(51)

In [12]:
df.loc[df.duplicated(subset=['title'])]

,id,title,type,description,release_year,age_certification,runtime,genres,production_countries,seasons,imdb_id,imdb_score,imdb_votes,tmdb_popularity,tmdb_score
294,tm78067,The Girl Next Door,MOVIE,In a quiet suburban town in the summer of 1958...,2007,R,91,"['crime', 'drama', 'horror', 'thriller']",['US'],NaN,tt0830558,6.5,26293.0,13.131,6.700
304,tm102337,A Nightmare on Elm Street,MOVIE,The film that brings back horror icon Freddy K...,2010,R,95,"['horror', 'thriller', 'crime', 'drama']",['US'],NaN,tt1179056,5.2,99894.0,39.672,5.500
513,tm54147,Dostana,MOVIE,Two straight guys who pretend to be a gay coup...,2008,PG-13,142,"['drama', 'romance', 'comedy']","['IN', 'US']",NaN,tt1185420,6.5,15063.0,8.613,6.200
515,ts19384,A Lion in the House,SHOW,Five families struggle with the ups and downs ...,2006,TV-14,190,['documentation'],['US'],1.0,NaN,NaN,NaN,1.487,7.500
1208,tm209987,Christine,MOVIE,"In the 1970s, a television reporter Christine ...",2016,R,123,['drama'],['US'],NaN,tt4666726,6.9,15146.0,11.100,6.800
1232,ts42655,Wanted,SHOW,"Two complete strangers, Lola and Chelsea, inte...",2016,TV-14,45,"['crime', 'drama', 'action']",['AU'],3.0,tt5193358,7.6,5920.0,12.755,7.200
1290,ts37779,Danger Mouse,SHOW,"Danger Mouse is back saving London, saving the...",2015,NaN,12,"['comedy', 'action', 'crime', 'family', 'fanta...",['GB'],2.0,tt4196822,7.2,587.0,6.326,7.600
1380,tm248010,Taxi Driver,MOVIE,A small-town mechanic turned chauffeur for the...,2015,NaN,100,"['comedy', 'crime', 'drama']",['NG'],NaN,tt5112438,6.0,69.0,1.191,5.300
1459,tm232710,A Second Chance,MOVIE,"Popoy and Basha have had a wonderful wedding, ...",2015,NaN,130,"['drama', 'romance', 'family', 'documentation'...",['PH'],NaN,tt5226380,8.6,47.0,2.752,7.100
1557,tm244577,Love O2O,MOVIE,What is it that makes a man fall in love with ...,2016,NaN,105,"['comedy', 'romance', 'drama']",['CN'],NaN,tt6093452,6.4,1039.0,7.811,6.900
1596,tm234292,The Heirs,MOVIE,Teenagers’ leisure at full swing: a group of f...,2015,NaN,71,['drama'],['MX'],NaN,tt2903370,5.7,223.0,1.309,5.700
1730,ts81884,Bodyguard,SHOW,A troubled war veteran is assigned to protect ...,2018,TV-MA,60,"['war', 'drama', 'thriller', 'crime', 'european']",['GB'],2.0,tt7493974,8.1,118124.0,19.085,7.900
1871,ts57424,The Forest,SHOW,"In a small quiet village in the Ardennes, a si...",2017,TV-MA,52,"['drama', 'crime', 'thriller', 'european']",['FR'],1.0,tt6560040,7.2,10234.0,18.051,7.100
1987,ts56201,Cloudy with a Chance of Meatballs,SHOW,"The series is a prequel, featuring the high sc...",2017,TV-Y7,11,"['action', 'fantasy', 'scifi', 'animation', 'c...",['CA'],2.0,tt7584168,3.4,750.0,8.750,5.600
2046,ts81885,The Good Cop,SHOW,Honest cop Tony Jr. gets advice from his unscr...,2018,TV-PG,46,"['drama', 'comedy', 'crime', 'documentation']",['US'],1.0,tt7183074,6.9,5732.0,8.714,6.400
2097,ts75620,Black,SHOW,"A Grim Reaper, a detective and a woman who for...",2017,TV-MA,78,"['scifi', 'drama', 'action', 'thriller', 'horr...",['KR'],2.0,tt7298976,7.9,3891.0,39.083,8.000
2099,ts58175,She's Gotta Have It,SHOW,Nola Darling struggles to define herself and d...,2017,TV-MA,35,['comedy'],['US'],2.0,tt3713588,6.7,4695.0,6.031,6.600
2259,tm311319,Manhunt,MOVIE,"Accused of a murder he didn't commit, a prosec...",2017,NaN,106,"['thriller', 'action', 'crime']","['HK', 'CN']",NaN,tt4537986,5.2,3247.0,11.686,5.600
2271,ts78053,Kakegurui,SHOW,Children from influential families in politics...,2018,TV-MA,25,"['thriller', 'drama']",['JP'],2.0,tt7691766,6.7,1005.0,24.549,7.900
2631,tm362264,The Gift,MOVIE,Mashoto’s life in the city is a hustle. It’s a...,2017,NaN,85,['drama'],['TZ'],NaN,tt6856604,8.0,25.0,1.030,8.000
3089,tm824398,The Platform,MOVIE,"A mysterious place, an indescribable prison, a...",2019,NaN,95,"['scifi', 'thriller', 'horror', 'european']",['ES'],NaN,tt8228288,7.0,213699.0,47.725,7.003
3123,tm460948,Always Be My Maybe,MOVIE,"Reunited after 15 years, famous chef Sasha and...",2019,PG-13,102,"['romance', 'comedy']",['US'],NaN,tt7374948,6.8,55686.0,11.434,6.600
3163,ts221016,Top Boy,SHOW,Two seasoned drug dealers return to the gritty...,2019,TV-MA,53,"['drama', 'crime']",['GB'],3.0,NaN,NaN,NaN,24.305,8.400
3197,tm453862,The Call,MOVIE,Connected by phone in the same home but 20 yea...,2020,NaN,112,"['scifi', 'thriller', 'drama', 'crime', 'horror']",['KR'],NaN,tt10530176,7.1,30772.0,33.987,7.600
3374,tm497383,Sergio,MOVIE,A sweeping drama set in the chaotic aftermath ...,2020,R,118,"['drama', 'history', 'romance', 'documentation']","['JO', 'TH', 'US', 'AL']",NaN,tt6468740,6.2,9698.0,11.893,6.700
3434,ts223344,The Gift,SHOW,A painter in Istanbul embarks on a personal jo...,2019,TV-MA,43,"['thriller', 'drama', 'scifi', 'fantasy']",['TR'],3.0,tt10075318,7.0,21802.0,16.327,7.700
3505,ts357033,A Love So Beautiful,SHOW,Love is as tough as it is sweet for a lovestru...,2020,NaN,23,"['comedy', 'drama']",['KR'],1.0,NaN,NaN,NaN,73.064,8.400
3513,ts251617,Connected,SHOW,Science journalist Latif Nasser investigates t...,2020,TV-14,44,"['documentation', 'comedy']",['US'],1.0,tt12753692,7.5,1724.0,4.812,8.200
3602,ts315066,Vampires,SHOW,"A Paris teen who's half human, half vampire gr...",2020,TV-MA,40,"['scifi', 'fantasy', 'horror', 'drama']",['FR'],1.0,tt11829316,5.7,1289.0,14.702,7.500
3731,ts104840,Skylines,SHOW,"In Frankfurt, A young, talented hip-hop produc...",2019,TV-MA,57,"['crime', 'drama', 'music', 'documentation', '...",['DE'],1.0,tt9184970,7.5,2658.0,3.678,7.100
3863,ts241460,Whispers,SHOW,When suspicions grow around the death of their...,2020,TV-PG,42,"['thriller', 'drama']",['SA'],2.0,NaN,NaN,NaN,1.835,8.300
4155,tm912190,Cargo,MOVIE,"Prahastha, a lonely astronaut, works in a spac...",2019,PG-13,113,"['fantasy', 'scifi', 'drama']",['IN'],NaN,tt8992946,5.6,2929.0,3.503,5.600
4248,tm946277,Love,MOVIE,The story of a family and the various situatio...,2020,NaN,91,"['thriller', 'drama']",['IN'],NaN,tt12573294,7.0,1544.0,2.055,5.900
4315,tm918962,Fearless,MOVIE,A teen gamer is forced to level up to full-tim...,2020,PG,89,"['animation', 'family', 'scifi', 'documentatio...",['CA'],NaN,tt8675288,4.9,1735.0,17.412,6.200
4374,tm483190,Time Out,MOVIE,A woman who works as a DJ is known to live alo...,2019,NaN,93,"['comedy', 'drama', 'romance']",[],NaN,tt9822904,5.9,47.0,NaN,NaN
4505,tm847805,Ludo,MOVIE,"Ludo is about the butterfly effect and how, de...",2020,PG-13,150,"['crime', 'comedy', 'drama', 'action']",['IN'],NaN,tt7212754,7.6,37528.0,10.329,7.500
4735,ts306526,Queen,SHOW,"After a decades-long absence, a renowned Paris...",2022,TV-MA,49,['drama'],['PL'],1.0,tt15096884,7.1,815.0,8.782,7.300
4800,ts85985,Cowboy Bebop,SHOW,"Long on style and perpetually short on cash, b...",2021,TV-MA,45,"['scifi', 'action', 'drama', 'fantasy', 'comed...",['US'],1.0,tt1267295,6.6,35427.0,17.479,6.800
4946,ts1475,Chosen,SHOW,A 17-year-old girl's world is turned upside do...,2022,TV-MA,41,"['scifi', 'drama', 'thriller']",['DK'],1.0,tt16492950,4.3,1246.0,7.199,6.584
4962,ts272980,The One,SHOW,Love -- and lies -- spiral when a DNA research...,2021,TV-MA,42,"['drama', 'scifi', 'thriller', 'crime', 'action']",['GB'],1.0,tt13879466,6.6,12552.0,13.554,6.900
5100,ts313781,The Club,SHOW,The most unexpected people can become your cho...,2021,TV-14,47,"['drama', 'comedy']",['TR'],2.0,tt13317582,7.9,7810.0,8.116,7.200
5225,tm362072,Monster,MOVIE,"The story of Steve Harmon, a 17-year-old honor...",2021,R,98,"['drama', 'crime']","['CA', 'US']",NaN,tt2850272,6.5,5770.0,14.441,6.500
5246,ts314395,The Motive,SHOW,"In Jerusalem 1986, a 14-year-old boy shoots hi...",2021,NaN,35,"['crime', 'documentation']",[],1.0,tt15529566,5.2,1472.0,11.281,5.700
5391,tm1132325,Don,MOVIE,A youngster who is still figuring out what his...,2022,NaN,164,"['romance', 'comedy', 'drama', 'action']",['IN'],NaN,tt10709484,7.0,6667.0,2.708,7.100
5430,ts356275,Johnny Test,SHOW,"How much trouble could one imaginative boy, hi...",2021,TV-Y,14,"['comedy', 'animation', 'family', 'scifi', 'ac...",['US'],2.0,tt15061770,6.4,355.0,5.835,7.500
5442,ts282155,Zero,SHOW,A teenager who can make herself invisible is u...,2021,TV-MA,24,"['scifi', 'action', 'comedy', 'drama', 'fantasy']",['IT'],1.0,tt10619486,5.6,1302.0,6.765,7.600
5552,tm1040337,Security,MOVIE,After the assault of a young woman in their se...,2021,NaN,118,['thriller'],['IT'],NaN,tt11892916,4.9,1989.0,25.561,5.700
5573,ts285854,Till Death,SHOW,"Fed up with his wife’s distancing from him, Ha...",2021,TV-MA,53,['drama'],['LB'],2.0,NaN,NaN,NaN,27.741,6.700
5632,tm1165244,Into the Wind,MOVIE,She graduated from a prestigious high school i...,2022,NaN,108,"['comedy', 'drama', 'romance', 'sport']",['PL'],NaN,tt17044594,5.2,864.0,24.571,5.237
5704,tm1054462,The Land,MOVIE,"In contemporary Poland, people from different ...",2021,NaN,103,"['comedy', 'drama', 'crime']",['PL'],NaN,tt14345386,6.1,473.0,1.627,5.600
5771,tm1019822,Connected,MOVIE,"Argentine DJ Hernán Cattáneo, known for his ho...",2021,NaN,42,[],[],NaN,NaN,NaN,NaN,5.197,7.300

In [13]:
df.query('title=="The Girl Next Door"')

,id,title,type,description,release_year,age_certification,runtime,genres,production_countries,seasons,imdb_id,imdb_score,imdb_votes,tmdb_popularity,tmdb_score
270,tm85811,The Girl Next Door,MOVIE,Exceptionally ambitious high schooler Matthew ...,2004,NaN,110,"['comedy', 'romance', 'drama']",['US'],NaN,tt0265208,6.7,223380.0,37.315,6.7
294,tm78067,The Girl Next Door,MOVIE,In a quiet suburban town in the summer of 1958...,2007,R,91,"['crime', 'drama', 'horror', 'thriller']",['US'],NaN,tt0830558,6.5,26293.0,13.131,6.7

In [14]:
df.columns

Index(['id', 'title', 'type', 'description', 'release_year',
       'age_certification', 'runtime', 'genres', 'production_countries',
       'seasons', 'imdb_id', 'imdb_score', 'imdb_votes', 'tmdb_popularity',
       'tmdb_score'],
      dtype='object')

In [15]:
df.duplicated(subset=['title','release_year','imdb_score']).sum()

np.int64(0)

-None are explicitly duplicated

#Now Adding Features

In [ ]:
#Content age
current_year=pd.Timestamp.now().year
df['content_age']=current_year-df['release_year']
#Release Decade
df['release_decade'] = (df['release_year'] // 10) * 10
#Movie/TV ratio
yearly_type_counts = df.pivot_table(
    index='release_year',
    columns='type',
    aggfunc='size',
    fill_value=0
)

yearly_type_counts['movie_tv_ratio'] = (
    yearly_type_counts['MOVIE'] / yearly_type_counts['SHOW']
)
yearly_type_counts

type          MOVIE  SHOW  movie_tv_ratio
release_year
1945              0     1        0.000000
1954              2     0             inf
1956              1     0             inf
1958              1     0             inf
1959              1     0             inf
...             ...   ...             ...
2018            473   300        1.576667
2019            525   311        1.688103
2020            500   314        1.592357
2021            473   314        1.506369
2022            200   171        1.169591

[63 rows x 3 columns]